{% extends 'base.html.twig' %}

{% block title %}
	Educateurs | EliteSports
{% endblock %}

{% block stylesheets %}
	<link href="{{asset('assets/vendor/select2/css/select2.min.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block page_content %}
	<!-- Begin page content -->
	<div class="content">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">{{ message }}</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-danger mt-4">{{ message }}</div>
		{% endfor %}
		<!-- Start Content -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<div class="page-title-right"></div>
						<h4 class="page-title">Email aux Educateurs</h4>
					</div>
				</div>
			</div>

			<div
				class="row">

				<!-- Right Sidebar -->
				<div class="col-12">
					<div class="card">
						<div
							class="card-body">
							<!-- Left sidebar -->
							<div class="page-aside-left">
								<div class="d-grid">
									<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#compose-modal">Nouvel Email</button>
								</div>

								<div class="email-menu-list mt-3">
									<a href="javascript: void(0);" class="text-success fw-bold">
										<i class="ri-inbox-line me-2"></i>Messagerie<span class="badge badge-danger-lighten float-end ms-2">7</span>
									</a>


									<a href="javascript: void(0);">
										<i class="ri-mail-send-line me-2"></i>Envoyer Mail</a>
									<a href="javascript: void(0);">
										<i class="ri-delete-bin-line me-2"></i>Trash</a>
									<a href="javascript: void(0);"></div>


								</div>
								<!-- End Left sidebar -->

								<div class="page-aside-right">


									<div class="btn-group d-flex align-items-center gap-2 justify-content-start">
										<label for="example-select" class="form-label text-nowrap text-black">Catégorie</label>
										<div>
											<select class="form-select bg-secondary text-white w-5" id="example-select">
												<option>Catégorie 1</option>
												<option>Catégorie 2</option>
											</select>
										</div>
									</div>


									<div class="mt-3">
										<ul class="email-list">
											{% for email in emails %}
												<li class="unread">
													<div class="email-sender-info">

														<a href="javascript: void(0);" class="email-title">{{ email.educateur.nom }}
															{{ email.educateur.prenom }}</a>
													</div>
													<div class="email-content">
														<a href="javascript: void(0);" class="email-subject">{{email.objet}}
															you a direct message on Twitter! &nbsp;&ndash;&nbsp;
															<span>{{ email.message}}</span>
														</a>
														<div class="email-date">{{ email.date|date('H:i', 'UTC') }}</div>
													</div>
													<div class="email-action-icons">
														<ul class="list-inline">
															<li class="list-inline-item">
																<a href="javascript: void(0);">
																	<i class="mdi mdi-archive email-action-icons-item"></i>
																</a>
															</li>
															<li class="list-inline-item">
																<a href="javascript: void(0);">
																	<i class="mdi mdi-delete email-action-icons-item"></i>
																</a>
															</li>
															<li class="list-inline-item">
																<a href="javascript: void(0);">
																	<i class="mdi mdi-email-open email-action-icons-item"></i>
																</a>
															</li>
															<li class="list-inline-item">
																<a href="javascript: void(0);">
																	<i class="mdi mdi-clock email-action-icons-item"></i>
																</a>
															</li>
														</ul>
													</div>
												</li>
											{% endfor %}


										</ul>
									</div>
									<!-- end .mt-4 -->

									<div class="row">
										<div class="col-7 mt-1">
											Showing 1 - 20 of 289
										</div>
										<!-- end col-->
										<div class="col-5">
											<div class="btn-group float-end">
												<button type="button" class="btn btn-light btn-sm">
													<i class="mdi mdi-chevron-left"></i>
												</button>
												<button type="button" class="btn btn-info btn-sm">
													<i class="mdi mdi-chevron-right"></i>
												</button>
											</div>
										</div>
										<!-- end col-->
									</div>
									<!-- end row-->
								</div>
								<!-- end inbox-rightbar-->
							</div>
							<!-- end card-body -->
							<div class="clearfix"></div>
						</div>
						<!-- end card-box -->

					</div>
					<!-- end Col -->
				</div>
				<!-- End row -->

				<!-- Compose Modal -->
				<div id="compose-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="compose-header-modalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header modal-colored-header bg-primary">
								<h4 class="modal-title text-white" id="compose-header-modalLabel">Nouveau Message</h4>
								<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="p-1">
								<div
									class="modal-body px-3 pt-3 pb-0">


									{# Afficher les erreurs globales du formulaire #}
									{{ form_errors(form) }}

									{# Début du formulaire #}
									{{ form_start(form) }}

									{# Champ "À" #}
									<div class="mb-2">
										{{ form_row(form.emailEducateur) }}
									</div>

									{# Champ "Objet" #}
									<div class="mb-2">
										{{ form_row(form.objet) }}
									</div>

									{# Champ "Message" #}
									<div class="row mb-3">
										{{ form_row(form.message) }}
									</div>

									{# Bouton Envoyer #}
									<div class="px-3 pb-3">
										{{ form_row(form.Envoyer) }}
									</div>

									{# Fin du formulaire #}
									{{ form_end(form) }}


									{#	<form action="{{ path('app_mail_edu') }}" method='POST'>
																																																							<div class="mb-2">
																																																								<label for="msgto" class="form-label">à</label>
																																																								<input
																																																								type="text" id="msgto" name="msgto" class="form-control" placeholder="Example@email.com">
																																																							{# <select class="form-control select2" data-toggle="select2">
																																																							                    <option>Select</option>
																																																							                    <option value="AK">Alaska</option>
																																																							                    <option value="HI">Hawaii</option>
																																																							
																																																							                    <option value="CA">California</option>
																																																							                    <option value="NV">Nevada</option>
																																																							                    <option value="OR">Oregon</option>
																																																							                    <option value="WA">Washington</option>
																																																							                </select> 
																																																							</div>
																																																							<div class="mb-2">
																																																								<label for="objet" class="form-label">Objet</label>
																																																								<input type="text" id="objet" name="objet" class="form-control" placeholder="Your subject">
																																																							</div>
																																																							<div class="row mb-3">
																																																								<label class="form-label" for="message">Message</label>
																																																								<div class="col-12">
																																																									<textarea id="simplemde1" name="message" rows="3" style="width: 100%;"></textarea>
																																																								</div>
																																																							</div>
																																																							<div class="px-3 pb-3">
																																																								<button type="submit" name="envoyer" class="btn btn-primary">
																																																									<i class='bx bx-send'></i>
																																																									Envoyer le Message
																																																								</button>
																																																								<button type="button" class="btn btn-light" data-bs-dismiss="modal">Annuler</button>
																																																							</div>
																																																						</form> #}
								</div>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal-dialog -->
				</div>
				<!-- /.modal -->
			</div>

			<!-- container -->
		</div>
		 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		 <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
	{% endblock %}

	{% block javascripts %}
		 <script src="{{asset('assets/vendor/select2/js/select2.min.js')}}"></script>

	{% endblock %}
